[Unit]
Description=Run run_cooler.service every 10 minutes

[Timer]
OnCalendar=*-*-* *:*/2:00
Persistent=true
OnBootSec=60
Unit=run_cooler.service

[Install]
WantedBy=timers.target
